* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Trispace', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 1496px;
    height: 85px;

    background: #00D9E7;
}

img {
    position: absolute;
    left: 8px;
    top: 10px;
}

.avatar {
    width: 66px;
    height: 66px;
}

.light_sky {
    position: absolute;
    width: 332px;
    height: 68px;
    left: 86px;
    top: -5px;

    font-weight: 700;
    font-size: 64px;
    line-height: 92px;

    color: #F9F9F9;
}

.chats {
    position: relative;
    left: 1000px;
    bottom: 45px;
    width: 80px;
    height: 66px;
}

.username {
    position: relative;
    left: 1345px;
    bottom: 15px;
    font-size: 30px;
    color: #F2F2F2;
}

.user_img {
    position: relative;
    left: 1170px;
    border-radius: 100%;
    width: 66px;
    height: 66px;
}

.post {
    display: inline-block;
    border: 2px solid #00D9E7;
    width: 687px;
    height: 373px;
    position: relative;
    left: 18px;
    top: 103px;
    overflow-x:hidden;
    margin: 5px;
}

.about_user {
    height: 300px;
    width: 1000px;
}

.banner {
    width: 1400px;
    height: 300px;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 25px;
}

.user_avatar {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    top: -150px;
    left: 100px;
}

.name {
    font-size: 60px;
    color: #00D9E7;
    position: relative;
    left: 370px;
    bottom: 210px;
}

.about_text {
    font-size: 25px;
    position: relative;
    bottom: 180px;
    left: 140px;
    color: #00D9E7;
}

.posts {
    position: relative;
    left: 845px;
    bottom: 45px;
    width: 65px;
    height: 60px;
}

hr {
    background-color: #00D9E7;
    position: relative;
    top: 270px;
    left: 50px;
    width: 1400px;
}

.post_title {
    text-align: center;
    color: #00D9E7;
    font-size: 50px;
    position: relative;
    top: 270px;
}

.no_posts {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 25px;
}

.post {
    display: inline-block;
    border: 2px solid #00D9E7;
    width: 687px;
    height: 373px;
    position: relative;
    left: 18px;
    top: 103px;
    overflow-x:hidden;
    margin: 5px;
}

.user {
    font-size: 30px;
    position: relative;
    bottom: 70px;
    left: 95px;
}

.user_avatar {
    border-radius: 100%;
    position: relative;
    left: 120px;
    top: -130px;
    width: 250px;
    height: 250px;
}

.save {
    width: 150px;
    height: 150px;
    position: relative;
    top: 200px;
    left: 1300px;
}

button {
    width: 150px;
    height: 150px;
    border: none;
    position: relative;
    top: 200px;
    left: 1300px;
    background: url('https://aux4.iconspalace.com/uploads/953007964562298756.png') 0 0/150px 150px no-repeat;
}

.change_avatar {
    display: block;
    border: none;
    color: #00D9E7;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    margin: 25px;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    top: 120px;
    left: 80px;
}

.change_banner {
    display: block;
    border: none;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    margin: 25px;
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    color: #00D9E7;
    position: relative;
    top: -30px;
    left: 900px;
}

.about {
    border: 5px solid #00D9E7;
    border-radius: 20px;
    position: relative;
    width: 1300px;
    height: 380px;
    left: 120px;
    top: 100px;
    color: rgba(255, 255, 255, 0.56)
    font-weight: 700;
    font-size: 30px;
    line-height: 92px;
    padding-left: 10px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.56)
    font-weight: 700;
    font-size: 30px;
    line-height: 92px;
    padding-left: 10px;
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
}
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
}