* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Trispace', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
body {
    width: 1496px;
    height: 700px;
}
.header {
    position: absolute;
    width: 1496px;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #00D9E7;
}
img {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 8px;
    top: 10px;
}
.light_sky {
    position: absolute;
    width: 332px;
    height: 68px;
    left: 86px;
    top: -5px;
    font-weight: 700;
    font-size: 64px;
    line-height: 92px;
    color: #F9F9F9;
}
.title {
    border: 5px solid #00D9E7;
    border-radius: 20px;
    position: relative;
    width: 961px;
    height: 69px;
    left: 49px;
    color: rgba(255, 255, 255, 0.56)
    font-weight: 700;
    line-height: 92px;
    font-size: 30px;
    padding-left: 10px;
    margin-top: 110px;
}
.post {
    border: 5px solid #00D9E7;
    border-radius: 20px;
    position: relative;
    width: 961px;
    height: 283px;
    left: 49px;
    top: 20px;
    color: rgba(255, 255, 255, 0.56)
    font-weight: 700;
    font-size: 30px;
    line-height: 92px;
    padding-left: 10px;
}
hr {
    position: relative;
    bottom: 90px;
    background-color: #00D9E7;
}
input[type="file"] {
    border: none;
}
.image {
    display: block;
    border: none;
    background-color: #00D9E7;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    margin: 25px;
    width: 560px;
    height: 40px;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.56);
    position: relative;
    top: 50px;
    left: 25px;
}
.add_post {
    width: 350px;
    height: 110px;
    position: relative;
    left: 50px;
    top: 80px;
    border: none;
    background-color: #00D9E7;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
::placeholder {
    color: rgba(255, 255, 255, 0.56)
    font-weight: 700;
    font-size: 30px;
    line-height: 92px;
    padding-left: 10px;
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
}
::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
}