* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Trispace', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 1440px;
    height: 700px;
}

.header {
    position: absolute;
    width: 1440px;
    height: 85px;
    left: 0px;
    top: 0px;

    background: #00D9E7;
}

img {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 8px;
    top: 10px;
    border-radius: 100%;
}

.light_sky {
    position: absolute;
    width: 332px;
    height: 68px;
    left: 86px;
    top: -5px;

    font-weight: 700;
    font-size: 64px;
    line-height: 92px;

    color: #F9F9F9;
}

h1 {
    color: #00D9E7;
    text-align: center;
    font-size: 64px;
    position: relative;
    top: 145px;
}

input {
    display: block;
    border: none;
    background-color: #00D9E7;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    margin: 25px;
    width: 560px;
    height: 40px;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.56);
    position: relative;
    top: 180px;
    left: 410px;
}

.login {
    background-color: #00D9E7;
    width: 340px;
    height: 101px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    position: relative;
    top: 200px;
    left: 540px;
}

.register {
    color: rgba(187, 187, 187, 0.52);
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    position: relative;
    top: 210px;
}

a {
    color: rgba(187, 187, 187, 0.52);
}

::placeholder {
    color: rgba(255, 255, 255, 0.56);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.56);
}

#messages {
    color: red;
    position: relative;
    top: 200px;
    left: 550px;
}