* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Trispace', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 1496px;
    height: 85px;

    background: #00D9E7;
}

img {
    position: absolute;
    left: 8px;
    top: 10px;
}

.avatar {
    width: 66px;
    height: 66px;
}

.light_sky {
    position: absolute;
    width: 332px;
    height: 68px;
    left: 86px;
    top: -5px;

    font-weight: 700;
    font-size: 64px;
    line-height: 92px;

    color: #F9F9F9;
}

.chats {
    position: relative;
    left: 1000px;
    bottom: 45px;
    width: 80px;
    height: 66px;
}

.username {
    position: relative;
    left: 1345px;
    bottom: 15px;
    font-size: 30px;
    color: #F2F2F2;
}

.user_img {
    position: relative;
    left: 1170px;
    border-radius: 100%;
    width: 66px;
    height: 66px;
}

.post {
    display: inline-block;
    border: 2px solid #00D9E7;
    width: 687px;
    height: 373px;
    position: relative;
    left: 18px;
    top: 103px;
    overflow-x:hidden;
    margin: 5px;
}

.about_user {
    height: 300px;
    width: 1000px;
}

.banner {
    width: 1400px;
    height: 300px;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 25px;
}

.user_avatar {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    top: -150px;
    left: 100px;
}

.name {
    font-size: 60px;
    color: #00D9E7;
    position: relative;
    left: 370px;
    bottom: 210px;
}

.about_text {
    font-size: 25px;
    position: relative;
    bottom: 180px;
    left: 140px;
    color: #00D9E7;
}

.posts {
    position: relative;
    left: 845px;
    bottom: 45px;
    width: 65px;
    height: 60px;
}

hr {
    background-color: #00D9E7;
    position: relative;
    top: 270px;
    left: 50px;
    width: 1400px;
}

.post_title {
    text-align: center;
    color: #00D9E7;
    font-size: 50px;
    position: relative;
    top: 270px;
}

.no_posts {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 25px;
}

.post {
    display: inline-block;
    border: 2px solid #00D9E7;
    width: 687px;
    height: 373px;
    position: relative;
    left: 18px;
    top: 103px;
    overflow-x:hidden;
    margin: 5px;
}

.user {
    font-size: 30px;
    position: relative;
    bottom: 70px;
    left: 95px;
}

.user_avatar {
    border-radius: 100%;
    position: relative;
    left: 120px;
    top: -130px;
    width: 250px;
    height: 250px;
}

.title {
    font-size: 15px;
    position: relative;
    bottom: 70px;
    left: 95px;
}

.time {
    color: rgba(0, 0, 0, 0.67);
    font-size: 15px;
    position: relative;
    bottom: 90px;
    left: 350px;
}

.post {
    display: inline-block;
    border: 2px solid #00D9E7;
    width: 687px;
    height: 373px;
    position: relative;
    left: 40px;
    top: 300px;
    overflow-x:hidden;
    margin: 5px;
}

.user {
    font-size: 30px;
    position: relative;
    bottom: 60px;
    left: 95px;
}

.title {
    font-size: 18px;
    position: relative;
    bottom: 60px;
    left: 95px;
}

.time {
    color: rgba(0, 0, 0, 0.67);
    font-size: 15px;
    position: relative;
    bottom: 80px;
    left: 350px;
}

.post_text {
    font-size: 15px;
    position: relative;
    bottom: 40px;
    left: 20px;
}

.post_user_avatar {
    border-radius: 100%;
    position: relative;
    left: 20px;
    width: 66px;
    height: 66px;
}

.post_image {
    position: relative;
    left: 20px;
    width: 400px;
    height: auto;
}