{% load static %}

<div class="header">
        <img class="avatar" width="30px", height="30px" alt="avatar", src="{% static 'images/light_sky_avatar.jpg' %}">
        <p class="light_sky">Light Sky</p>
        <span class="username">{{ request.user }}</span>
        <a href="/my_profile/"><img class="user_img" alt="image" src="{% static 'images/user_avatar.jpg' %}" /></a>
        <a href="/"><img class="chats" alt="chats" src="{% static 'images/chats.jpg' %}"></a>
        <a href="/"><img class="posts" alt="posts" src="{% static 'images/posts.jpg' %}"></a>
</div>