<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.username }}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/light_sky_avatar.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/change_profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:wght@600&family=Mouse+Memoirs&family=Orbitron:wght@500&family=Oswald:wght@400;500&family=Trispace:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'blocks/header.html' %}
    <div class="about_user">

        <img class="banner" alt="default_banner" src="{% static 'images/default_banner.png' %}">

        <img class="user_avatar" alt="default_avatar" src="{% static 'images/default_avatar.png' %}">

        <p class="name">{{ user.username }}</p>

    </div>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" class="change_avatar" />
        <input type="file" name="image" class="change_banner" />
        {{ form.about }}
        <button type="submit"></button>
    </form>

</body>
</html>