<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавить пост</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/light_sky_avatar.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:wght@600&family=Mouse+Memoirs&family=Orbitron:wght@500&family=Oswald:wght@400;500&family=Trispace:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    {% include 'blocks/header.html' %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}
        {{ form.post }}
        <input type="file" name="image" class="image" />
        <hr>
        <button class="add_post" type="submit">Добавить пост</button>
        <span>{{ error }}</span>
    </form>
</body>
</html>