<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/light_sky_avatar.jpg' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:wght@600&family=Mouse+Memoirs&family=Orbitron:wght@500&family=Oswald:wght@400;500&family=Trispace:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<body>

    <div class="header">
        <img width="30px", height="30px" alt="avatar", src="{% static 'images/light_sky_avatar.jpg' %}">
        <p class="light_sky">Light Sky</p>
    </div>

    <h1>Авторизация</h1>


    <form method="POST" action="">
        {% csrf_token %}
        <input type = "text"  name = "username" placeholder="Username...">
        <input type = "password"  name = "password" placeholder="Password...">
        <button class="login" type="submit">Войти</button>
    </form>

    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}

    <p class="register">Еще нет аккаунта?<a href="/register"><i>Создайте его...</i></a></p>

</body>
</html>