<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Посты</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/light_sky_avatar.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:wght@600&family=Mouse+Memoirs&family=Orbitron:wght@500&family=Oswald:wght@400;500&family=Trispace:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    {% include 'blocks/header.html' %}

    <div>
        {% if posts %}
            {% for el in posts %}
                <div class="post">
                    <a href="user_profile/{{ el.user_id }}/"><img class="user_avatar" alt="user_avatar" src="{% static 'images/user_avatar.jpg' %}"></a>
                    <p class="user">{{ el.user }} </p>
                    <h3 class="title">{{ el.title }}</h3>
                    <p class="time">{{ el.created_at }}</p>
                    <p class="post_text">{{ el.post }}</p>
                    {% if el.image %}
                        <img class="post_image" alt="image" src="{{ el.image.url }}" />
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p class="no_posts">На данный момент не найдено ни одной записи</p>
        {% endif %}
    </div>

</body>
</html>