<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.username }}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/light_sky_avatar.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:wght@600&family=Mouse+Memoirs&family=Orbitron:wght@500&family=Oswald:wght@400;500&family=Trispace:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'blocks/header.html' %}

        <div class="about_user">

            <img class="banner" alt="banner" src="{% static 'images/banner.jpg' %}">
            <img class="user_avatar" alt="banner" src="{% static 'images/user_avatar.jpg' %}">
            <p class="name">{{ user.username }}</p>
            <a href="/change_profile/"><button class="change_profile">Редактировать профиль</button></a>
            <div class="about_text">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.</div>
            <a href="/create_post/"><button class="add_post">Добавить пост</button></a>

        </div>

    <hr>
    <p class="post_title">Посты</p>
    {% for el in post %}
        <div class="post">
            <a href="user_profile/{{ el.user_id }}/"><img class="post_user_avatar" alt="user_avatar" src="{% static 'images/user_avatar.jpg' %}"></a>
            <p class="user">{{ user.username }}</p>
            <h3 class="title">{{ el.title }}</h3>
            <p class="time">{{ el.created_at }}</p>
            <p class="post_text">{{ el.post }}</p>
            {% if el.image %}
                <img class="post_image" alt="image" src="{{ el.image.url }}" />
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>