<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/light_sky_avatar.jpg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Kanit:wght@600&family=Mouse+Memoirs&family=Orbitron:wght@500&family=Oswald:wght@400;500&family=Trispace:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<body>

    <div class="header">
        <img width="30px", height="30px" alt="avatar", src="{% static 'images/light_sky_avatar.jpg' %}">
        <p class="light_sky">Light Sky</p>
    </div>

    <h1>Регистрация</h1>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.email }}
        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button class="register" type="submit">Зарегистрироваться</button>
    </form>

    <p class="login">У вас уже есть аккаунт? <a href="/login"><i>Войдите в него...</i></a></p>

    <div class="error">
        {{ form.errors }}
    </div>

</body>
</html>